html, body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
  }
     
#map {
    width: 100%;    /* Adjust width to your desired size */
    height: 100%;   /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
    border-radius: 8px; /* Optional: rounded corners */
}
#map svg {
  width: 100%;    /* Adjust width to your desired size */
  height: 100%;
  z-index:1;
  position: absolute;
  pointer-events: none;
}
  
svg circle {
  fill: skyblue;            /* Circle color */
  fill-opacity: 0.55;          /* Set fill opacity to 60% */
  stroke: white;              /* White border for better contrast */
  stroke-width: 1;            /* Border thickness */
  opacity: 0.8;     
  pointer-events: auto;
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  fill: var(--color);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

header div {
  display: flex;
  align-items: baseline;
  gap: 10px;
  text-align: right;
}

